* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333333
}
body,
html {
    position: relative;
    overflow-x: hidden;
}
.mask {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999999999999;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 100px;
    height: 100px;
    border: 8px solid rgba(0, 147, 154, 0.6);
    border-radius: 50%;
    border-left-color:rgba(0, 147, 154, 1) ;
    animation: loader 1.3s linear infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}
.menu-icon {
    display: none;
}
.mask-none {
    opacity: 0;
    z-index: -1;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 23px;
    align-items: center;
}
.networks-link-block.mobile {display: none;}
.logo {
    display: flex;
}
.slayder .slick-dots li {
    display: none;
}
.logo-img {
    display: block;
    margin-right: 14px;
}
.logo-text-name {
    display: block;
    color: #00939A;
    padding-top: 7px;
    font-size: 14px;
}
.header-animate {
    transform: translateY(-93px);

}
.header-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: white;
    transition: all ease-in .3s;
}
.logo-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11.0943px;
    line-height: 17px;
    max-width: 98px;
}
.marketing-info {
    max-width: 171px;
}
.marketing-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
.working-time {
    position: relative;
}
.working-time-text:last-child {
    padding-top: 6px;
}
.working-time-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 34px;
}
.working-time-text-mobile {
    display: none;
}
.working-time::before {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    background-image: url('../image/clock-r.svg');
    display: block;
    left: 0;
    top: 11px;
}
.phone-number-link {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-left: 8px;
}
.network-links {
    display: flex;
}
.network-link {
    padding-right: 16px;
}
.network-link-last {
    padding-right: 0;
}
.subheader-background {
    background-color: #E7ECF1;
}
.subheader-menu {
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}
.subheader-menu-link {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #333333;
}
.slayder {
    position: relative;
    margin-top: 200px;
}
.slayder-wrapper-content {
    display: flex!important;
    justify-content: space-between;
    height: 454px;
    align-items: center;
    position: relative;
}
.slayder-header {
    max-width: 510px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;
    letter-spacing: 2px;
    color: #000000;
    padding-bottom: 7px;
}
.slayder-subheader {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FF7602;
    padding-bottom: 48px;
}
.slayder-form_input {
    width: 273px;
    height: 49px;
    padding-left: 15px;
    margin-bottom: 61px;
    border: 2px solid #999999;
    display: block;
    width: 100%;
}
.slayder-form-button {
    width: 273px;
    height: 49px;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #00939A;
    border: none;
    display: block;
}
.slayder-arrow {
    position: absolute;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
}
.slayder-arrow.prev {
    left: 10px;
}
.slayder-arrow.next {
    left: 70px;
}
.slayder-info {
    padding-top: 46px;
}
.slayder-image {
    position: relative;
    max-width: 560px;
    padding: 15px;
}
.slayder-img {
    display: block;
    z-index: 20;
    position: relative;
}
.orange-rectangle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    background-color: #FF7602;
    width: 333px;
    height: 79px;
}
.gray-rectangle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: #E7ECF1;
    width: 247px;
    height: 182px;
}
.slayder-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}
.slayder-form_label {
    display: block;
}
.prays-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prays-text-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #333333;
}
.prays-text-subheader {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FF7602;
}
.prays-text-button {
    border: 2px solid #00939A;
    width: 215px;
    height: 49px;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.prays-info {
    padding-top: 47px;
    padding-bottom: 48px;
}
.table {
    border: 20px solid #00939A;
    position: relative;
    z-index: 10;
    background-color: #fff;
}
.table-header {
    display: flex;
    border-bottom: 1px solid #E7ECF1;
    padding-left: 20px;
    padding-right: 20px;
}
.table-header-name {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #999999;
    padding-top: 16px;
    padding-bottom: 16px;
}
.table-column {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #E7ECF1;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}
.table-column-block {
    display: flex;
    align-items: center;
    flex: 0 0 36%;
}
.table-colum-block-image {
    display: block;
    width: 116px;
    height: 77px;
}
.table-column-block-text {
    padding-left: 27px;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}
.table-column-price {
    display: flex;
    gap: 32px;
    flex: 0 0 26%;
}
.table-column-price-volume-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
    color: #333333;
}
.table-column-price-block-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    color: #333333;
}
.table-column-counter {
    flex: 0 0 19%;
}
.table-column-counter-info-tonn {
    user-select: none;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #999999;
    padding-top: 1px;
    width: 128px;
}
.table-column-counter-info {
    display: grid;
    grid-template-columns: repeat(3, 42px);
    border: 1px solid #999999;
    grid-auto-rows: 40px;
    width: fit-content;
    align-items: center;
}
.marketing-info-mobile {
    display: none;
}
.table-column-counter-info span {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    align-items: center;
    transition: all ease-in-out .3s;
}
.table-column-counter-info span:hover {
    background-color: #c4c4c4;
}
.table-column-money-counter {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FF7602;
}
.sum-counter {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FF7602;
}
.table-column-counter-info-text {
    border: none;
    text-align: center;
    user-select: none;
}
.price-order {
    display: flex;
    justify-content: space-between;
    background-color: #FF7602;
}
.price-order-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.price-order-form {
    display: flex;
    justify-content: space-between;
}
.price-order-input {
    display: block;
    padding-left: 15px;
    border: 2px solid #FFFFFF;
    color: white;
    width: 302px;
    height: 49px;
    background-color: #FF7602;
}
.price-order-label {
    display: flex;
    gap: 20px;
}
.price-order-button {
    width: 193px;
    height: 49px;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    border: none;
}
.price-order {
    height: 372px;
    width: 100%;
    margin-top: -132px;
    position: relative;
    z-index: 1;
}
.price-order-div {
    padding-top: 221px;
    align-items: center;
    text-align: center;
}
.prays {
    position: relative;
    z-index: 10;
    background-color: #fff;
}
.export {
    padding-top: 100px;
}
.export-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #333333;
    padding-bottom: 63px;
    max-width: 395px;
}
.export-info-image-block {
    width: 47px;
    height: 47px;
    background-color: #FF7602;
    border: 0.2px solid white;
    border-radius: 50%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.export-info-vector {
    display: block;
    margin: 0 auto;
}
.export-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 
.export-info-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #333333;
    padding-bottom: 12px;
}
.export-info-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    padding-bottom: 32px;
    width: 70%;
}
.export-info-block-name {
    display: flex;
    align-items: center;
    gap: 32px;
}
.export-info-block-name-name-first {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #333333;
    display: block;
}
.mobile-version-sum {
    display: none;
}
.export-info-block-name-name-second {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    display: block;
}
.export-info-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.metal {
    margin-top: 100px;
    background-color: #00939A;
    padding-top: 103px;
    height: 418px;
    margin-bottom: 100px;
}
.metal-form {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
}
.metal-form-text {
    grid-column-start: 1;
    grid-column-end: 5;
}
.metal-form-text-second {
    grid-column-start: 7;
    grid-column-end: 12;
}
.metal-form-text-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;
    max-width: 400px;
    padding-bottom: 31px;
}
.metal-form-text-info {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%; 
    color: #FFFFFF;
    max-width: 350px;
}
.metal-form-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.metal-form-text-input {
    display: block;
    width: 100%;
    height: 69px;
    background-color: #00939A;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    margin-bottom: 14px;
    padding-left: 15px;
    opacity: 0.3
}
.metal-form-text-file {
    margin-bottom: 48px;
    display: block;
}
.metal-form-text-button {
    width: 159px;
    height: 49px;
    background-color: #fff;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    border: none;
}
.sales-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #333333;
    padding-bottom: 35px;
}
.sales-grid-blocks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    row-gap: 32px;
}
.sales-grid-text {
    padding-left: 32px;
}
.working-time-mobile {
    display: none;
}
.first-block {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #00939A;
    background-image: url('../image/stock/Union.svg');
    background-repeat: no-repeat;
    background-position: top 19px left 11px
}
.second-block {
    grid-column-start: 6;
    grid-column-end: 13;
    background-color: #FF7602;
    background-image: url('../image/stock/Union_1.svg');
    background-repeat: no-repeat;
    background-position: top 9px left 0
}
.third-block {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: #FF7602;
    background-image: url('../image/stock/Union2.svg');
    background-repeat: no-repeat;
    background-position: top 1px left -17px;
}
.four-block {
    grid-column-start: 7;
    grid-column-end: 13;
    background-color: #00939A;
    background-image: url('../image/stock/Group\ 4316\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: top -4px left -14px;
}
.sales-grid-block {
    display: flex;
    justify-content: space-between;
    height: 298px;
}
.sales-grid-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-bottom: 24px;
    padding-top: 39px;
}
.sales-grid-info {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.sales-grid-image-first {
    position: absolute;
    bottom: 0;
    right: 0;
}
.sales-grid-image {
    position: relative;
}
.mobile-span {
    display: none;
}
.hide {
    opacity: 0;
}
.second-block .sales-grid-info {
    padding-right: 75px;
}
.third-block .sales-grid-header {
    padding-right: 60px;
    padding-top: 78px;
}
.four-block .sales-grid-header {
    padding-top: 80px;
}
.rewievs {
    margin-top: 112px;
    padding-top: 100px;
    background-color: #E7ECF1;
    padding-bottom: 195px;
    position: relative;
}
.rewievs .slick-list {
    overflow: visible;
}
.review-block {
    background-color: #fff;
    max-width: 604px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    padding-bottom: 35px;
} 
.table-column-money-mobile {
    display: none;
}
.review-header{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #333333;
    padding-bottom: 64px;
}
.rewiev-block-header {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}
.rewiev-name {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #333333;
    padding-bottom: 9px;
}
.rewiev-slayder {
    display: flex!important;
    column-gap: 32px;
    position: relative;
}
.review-block {
    display: flex!important;
    margin-right: 32px;
    position: relative;
}
.slayder-arrow.rewiev-prev {
    position: absolute;
    bottom: -64px;
    left: 0;
    z-index: 100;
}
.slayder-arrow.rewiev-next {
    position: absolute;
    bottom: -64px;
    right: 0;
    z-index: 100;
}
.rewiev-data {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: #999999;
}
.review-info {
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}
.map-mobile {
    display: none;
}
.rewiev-link {
    display: block;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #FF7602;
    margin-left: 12px;
}
.rewiev-link::before {
    background-image: url("../image/Union.svg");
    content: '';
}
.helper-for-link {
    display: flex;
    justify-content: start;
    align-items: center;
}
.mobile-money {
    display: none;
   }
.choice {
    padding-top: 106px;
    padding-bottom: 100px;
}
.choice-wrapper {
    display: flex;
    justify-content: space-between;
}
.choice-header-start {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    padding-bottom: 32px;
}
.choice-header {
    max-width: 290px;
}
.choice-header-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}
.choice-flex {
    max-width: 876px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    row-gap: 30px;
}
.choice-flex-block {
    max-width: 382px;
    display: flex;
    column-gap: 36px;
}
.choice-flex-block-image img {
    display: block;
    padding-bottom: 18px;
    border-bottom: 4px solid #FF7602;
}
.choice-flex-block-image .img {
    padding-bottom: 15px;
}
.choice-flex-block-text-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 2px;
    padding-bottom: 16px;
}
.choice-flex-block-text-subheader {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}
.team {
    background-color: #FF7602;
    margin-bottom: 100px;
}
.team-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #F6F9FC;
    padding-top: 100px;
    padding-bottom: 64px;
}
.team-slayder {
    display: flex!important;
    column-gap: 32px;
    position: relative;
}
.team-slayder-blocks {
    padding-right: 32px;
}
.slayder-arrow.team-prev {
    position: absolute;
    bottom: 413px;
    left: -50px;
    cursor: pointer;
}
.slayder-arrow.team-next {
    position: absolute;
    bottom: 413px;
    right: -18px;
    cursor: pointer;
}
.table-column-counter-info-tonn-mobile {
    display: none;
}
.slayder {
    display: flex;
}
.team-slayder-img {
    display: block;
    margin-bottom: 33px;
    max-width: 100%;
    height: 444px;
    object-position: center;
    object-fit: cover;
}
.team-slayder-name {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-bottom: 1px;
}
.team-slayder-job {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 100px;
}
.f {
    background-color: #00939A;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.footer-first {
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    z-index: 10;
}
.footer-second {
    grid-column-start: 4;
    grid-column-end: 7;
    position: relative;
    z-index: 1;
}
.footer-third {
    grid-column-start: 8;
    grid-column-end: 13;
}
.footer-logo-wrapper {
    display: flex;
    column-gap: 19px;
    padding-bottom: 27px;
    align-items: center;
    padding-top: 54px;
}
.footer-logo-text-one {
    color: white;
    font-size: 20px;
}
.footer-logo-text-two {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11.0943px;
    line-height: 17px;
    color: white;
}
.footer-text {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 14px;
}
.footer-number {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    padding-bottom: 8px;
}
.footer-messengers {
    padding-top: 18px;
    display: flex;
    column-gap: 16px;
    margin-bottom: 145px;
}
.footer-second {
    padding-top: 60px;

}
.footer-info {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 35px;
}
.footer-adress {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.footer-city {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.footer-email {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer-email-name {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer-working-time {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer-working-times {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    padding-top: 10px;
}
.footer-third {
    padding-top: 67px;
}
.footer-header {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-bottom: 59px;
}
.footer-form-name {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.form-footer input{
    margin-bottom: 20px;
    padding-left: 15px;
    width: 100%;
    height: 49px;
    border: 2px solid #FFFFFF;
    background-color: #00939A;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.footer-form-number {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.footer-form-review {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.form-footer textarea {
    margin-bottom: 52px;
    padding-left: 15px;
    background-color: #00939A;
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 232px;
    padding-top: 13px;
    color: white;
}
.form-footer textarea::placeholder {
    color: white;
}
textarea:focus, input:focus {
    outline: none;
}
.footer-form-button {
    cursor: pointer;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    width: 193px;
    height: 49px;
    border: none;
    display: block;
    flex-shrink: 0;
}
.footer-form-confirm {
    display: flex;
    justify-content: space-between;
    column-gap: 46px;
}
.footer-form-reading {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
.map {
    float: left;
}
.footer-end {
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-end-text { 
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.map {
    border: 0;
    width: 607px;
    height: 284px;
}
@media (max-width: 1360px) {
    .slayder-arrow.team-next {
        right: 45px;
    }
    .slayder-arrow.team-next path {
        stroke: #000000;
    }
    .slayder-arrow.team-prev {
        left: 15px;
    }
    .slayder-arrow.team-prev path {
        stroke: #000000;
    }
} 
@media (max-width: 1300px) {
    .review-block {
        max-width: 500px;
    }
}
@media (max-width: 1240px) {
    .phone-number-link {
        font-size: 18px;
    }
    .price-order-header {
        font-size: 40px;
    }
    .slayder-header {
        font-size: 50px;
    }
    .slayder-subheader {
        font-size: 28px;
        padding-bottom: 25px;
    }
    .slayder-form {
        display: flex;
        flex-direction: column;
    }
    .slayder-form_label {
        max-width: 273px;
    }
    .slayder-form_input {
        margin-bottom: 15px;
    }
    .slayder-info {
        padding-top: 0;
    }
    .price-order-input {
        width: 273px;
    }
    .footer-header {
        font-size: 40px;

    }
    .footer-number {
        font-size: 22px;
    }
    .map {
        width: 500px;
    }
    .footer-info {
        font-size: 12px;
    }
    .footer-city {
        font-size: 16px;
    }
    .footer-email-name {
        font-size: 16px;
    }
    .footer-working-times {
        font-size: 16px;
    }
    .sales-grid-header {
        font-size: 24px;
        padding-right: 24px;
        max-width: 200px
    }
    .sales-grid-text {
        padding-left: 15px;
    }
    .four-block .sales-grid-header {
        padding-top: 40px;
    }
    .third-block .sales-grid-header {
        padding-top: 40px;
    }
    .sales-grid-info {
        padding-right: 15px;
    }
} 
@media (max-width: 1200px) {
    .first-block {
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .second-block {
        grid-column-start: 7;
        grid-column-end: 13;
    }
    .four-block .hide {
        width: 300px;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
    .four-block .sales-grid-image-first {
        width: 100%;
        height: 100%;
    }
    .sales-grid-block.second-block {
        overflow: hidden;
    }
}
@media (max-width: 1120px) {
    .choice-flex {
        padding-top: 10px;
    }
    .choice-flex-block {
        max-width: 324px;
    }
    .choice-flex-block-text-header {
        font-size: 20px;
    }
    .sales-header {
    font-size: 35px;
    }
    .metal-form-text-header {
        font-size: 35px;
    }
    .export-header {
        font-size: 35px;
    }
    .price-order-header {
        font-size: 35px;
    }
    .price-order-input {
        width: 50%;
    }
    .price-order-block.second {
        max-width: 566px;
        margin: 0 auto;
    }
    .price-order-label {
        max-width: 566px;
        align-items: center;
        text-align: center;
    }
    .logo-img {
        margin-right: 6px;
    }
    .phone-number-link {
    font-size: 15px;
    padding-left: 0;
    }
    .network-link {
        padding-right: 10px;
    }
    .working-time-text {
        padding-left: 25px;
        font-size: 13px;
    }
    .choice-header-start {
        font-size: 40px;
    }
    .choice-header-text {
        font-size: 18px;
    }
    .prays-text-header {
        font-size: 40px;
    }
    .slayder-header {
        font-size: 40px;
    }
    .team-slayder-name {
        font-size: 24px;
    }
    .team-slayder-job {
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    .menu-icon {
        position: relative;
    }
    .working-time {
        display: none;
    }
    .sales-grid-header {
        padding-top: 38px;
    }
    .sales-grid-image-first {
        right: unset;
        left: -23px;
    }
    .sales-grid-header {
        padding-right: 0;
        font-size: 26px;
    }
    .third-block .sales-grid-header {
        padding-right: 0;
    }
    .second-block .sales-grid-info {
        padding-right: 0;
        font-size: 14px;
    }
    .marketing-info-mobile {
        display: block;
    }
    .working-time-mobile {
        display: block;
    }
   .mobile-money {
    display: inline-block;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FF7602;
   }
   .table-column-counter-info-tonn {
    display: none;
   }
   .table-column-money-mobile {
    display: block;
    padding-bottom: 9px;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #999999;
    margin-top: -5px;

   }
   .table-column-counter-info-tonn-mobile {
    display: block;
    padding-bottom: 4px;
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #999999;
   }
    .sum-counter {
        display: none;
    }
    .mobile-span {
        display: inline-block;
    }
    .table-price-tonn-dekstop-span {
        display: none;
    }
    .mobile-version-sum {
        display: inline-block;
    }
    .dekstop-sum {
        display: none;
    }
    .marketing-info {
        display: none;       
    }
    .subheader-background {
        transition: all ease-in-out .3s;
        position: absolute;
        flex-direction: column;
        gap: 73px;
        width: 100%;
        height: calc(100vh - 79px);
        background-color: #00939A;
        z-index: 98876;
        top: 100%;
        left: 0;
        justify-content: space-between;
        display: flex;
        transform: translateX(-120vw);
    }
    .subheader-menu {
        flex-direction: column;
        gap: 16px;
        width: 100%;
        height: calc(100vh - 80px);
        justify-content: center;
        text-align: center;
        font-size: 32px;
    }
    .subheader-menu-link {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 2px;
        color: #FFFFFF;
    }
    .marketing-info-mobile {
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 80px);
        z-index: 9887222;
        margin: 0 auto;
        max-width: 289px;
    }
    .marketing-text-mobile {
        color: white;
        padding-top: 35px;
        text-align: center;
        margin: 0 auto;
        font-family: 'Gosha Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
    }
    .working-time-text-mobile {
        display: block;
        padding-bottom: 4px;
        font-family: 'Gosha Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    .working-time-mobile::before {
        width: 20px;
        height: 20px;
        content: '';
        position: absolute;
        background-image: url('../image/clock-mob-r.svg');
        display: block;
        top: 11px;
        left: -14px;
        
    }
    .working-time-mobile {
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 80px);
        z-index: 9887222;
        position: relative;
        max-width: 178px;
        margin: 0 auto;
    }
    .networks-link-block.mobile {
        display: block;
        padding-right: 0;
    }
    .network-link-last-mobile {
        padding-right: 0;
    }
    .slayder {
        margin-top: 120px;
    }
    .marketing-text {
        display: none;
    }
    .working-time-text {
        display: none;
    }
    .phone-number {
        display: none;
    }
    .working-time::before {
        display: none;
    }
    .slayder-wrapper-content {
        flex-direction: column-reverse;
        height: 613px;
        row-gap: 42px;
    }
    .slayder-image {
        max-width: 350px;
        padding: 8px
    }
    .slayder-img {
        max-width: 300px;
        height: 206px;
        object-fit: cover;
        object-position: center;
    }
    .slayder-header {
        line-height: 40px;
        text-align: center;
    }
    .slayder-subheader {
        text-align: center;
    }
    .gray-rectangle {
        width: 141px;
        height: 104px;
    }
    .orange-rectangle {
        width: 190px;
        height: 45px;
    }
    .slayder-form_label {
        width: 100%;
        max-width: 100%;
    }
    .slayder-form-button {
        width: 100%;
    }
    .prays-info {
        padding-top: 96px;
    }
    .slayder-wrapper-content {
        justify-content: flex-end;
    }
    .slayder-arrow.prev {
        left: calc((100% - 510px) / 2);
    }
    .slayder-arrow.next {
        right: calc((100% - 510px) / 2); 
        left: unset;
    }
    .slayder .slick-dots li {
        display: block;
        font-size: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }
    .slayder .slick-dots li button {
        font-size: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #999999;
        border: none;
    }
    .slayder .slick-dots .slick-active button {
        background-color: #FF7602!important;
    }
    .slayder .slick-dots {
        display: flex;
        column-gap: 16px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
    }
    .price-order {
        height: 401px;
        margin-top: 96px;
    }
    .price-order-header {
        font-size: 40px;
        padding-bottom: 32px;
    }
    .price-order-form {
        flex-direction: column;
    }
    .price-order-div {
        padding-top: 64px;
    }
    .price-order-label {
        flex-direction: column;
        padding-bottom: 32px;
        row-gap: 10px;
    }
    .price-order-input {
        width: 320px;
    }
    .price-order-button {
        width: 320px;
    }
    .export-info {
        display: flex;
        flex-wrap: wrap;
    }
    .div {
        display: flex;
        column-gap: 28px;
    }
    .div-mobile {
        display: flex;
        flex-direction: column;
        padding-top: 64px;
    }
    .export-info-block-name {
        padding-left: 75px;
    }
    .export-header {
        padding-bottom: 48px;
    }
    .div-mobile.first {
        padding-top: 12px;
    }
    .export-info-image-block {
        flex-shrink: 0;
        margin-top: 64px;
    }
    .export-info-image-block.first {
        margin-top: 0;
    }
    .metal-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .metal {
        padding-top: 64px;
        height: 560px;
    }
    .metal-form-text-header {
        font-size: 40px;
    }
    .metal-form-text-info {
        padding-bottom: 32px;
        margin: 0 auto;
    }
    .metal-form-text-input {
        width: 320px;
        height: 49px;
    }
    .metal-form-text-button {
        width: 320px;
    }
    .sales-grid-blocks {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .sales-grid-block {
        max-width: 650px;
        margin: 0 auto;
    }
    .rewiev-slayder .slick-dots li {
        display: block;
        font-size: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }
    .rewiev-slayder .slick-dots li button {
        font-size: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #999999;
        border: none;
    }
    .rewiev-slayder .slick-dots .slick-active button {
        background-color: #FF7602!important;
    }
    .rewiev-slayder .slick-dots {
        display: flex;
        column-gap: 16px;
        position: absolute;
        bottom: -56px;
        left: 50%;
        transform: translateX(-50%);
    }
    .choice-wrapper {
        justify-content: flex-start;
        flex-direction: column;
    }
    .choice-header {
        padding-bottom: 33px;
    }
    .team-slayder {
        overflow-y: visible;
    }
    .team-header {
        padding-top: 85px;
        padding-bottom: 48px;
    }
    .team-slayder {
        column-gap: 0;
    }
    .team-slayder .slick-dots li {
        display: block;
        font-size: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }
    .team-slayder .slick-dots li button {
        font-size: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #FFFFFF;
        border: none;
    }
    .team-slayder .slick-dots .slick-active button {
        border: 3px solid #fff;
        background-color: #FF7602;
    }
    .team-slayder .slick-dots {
        display: flex;
        column-gap: 16px;
        position: absolute;
        bottom: 46px;
        left: 50%;
        transform: translateX(-50%);
    }
    .slayder-arrow.team-next {
        bottom: 38px;
        right: 20px;
    }
    .slayder-arrow.team-prev {
        bottom: 38px;
        left: 20px;
    }
    iframe.map {
        display: none;
    }
    .sales-header {
        text-align: center;
    }
    .footer-wrapper {
        grid-template-columns: unset;
    }
    .footer-third {
        order: 1;
        grid-column-start: unset;
        grid-column-end: unset;
    }
    .footer-first {
        grid-column-start: unset;
        grid-column-end: unset;
        order: 2;
    }
    .footer-second {
        grid-column-start: unset;
        grid-column-end: unset;
        order: 3;
    }
    .footer-messengers {
        margin-bottom: 48px;
    }
    .footer-second {
        padding-top: 0px;
        position: relative;
    }
    .map-mobile {
        display: block;
        width: 100%!important;
        height: 423px!important;
        margin-top: 48px;
    }
    .footer-form-confirm {
        flex-direction: column;
        justify-content: unset;
        row-gap: 24px;
    }
    .table {
        border: none;
    }
    .table-header {
        display: none;
    }
    .table-column {
        flex-wrap: wrap;
        row-gap: 24px;
        align-items: flex-end;
    }
    .table-column-block,
    .table-column-price,
    .table-column-counter,
    .table-column-money {
        flex: 0 0 50%;
    }
    .menu-icon {
        display: block;
        width: 30px;
        height: 16px;
        position: relative;
        left: 0;
        top: 0;
    }
    .menu-icon-line {
        width: 100%;
        height: 2px;
        background-color: #00939A;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu-icon:before {
        width: 100%;
        height: 2px;
        background-color: #00939A;
        position: absolute;
        left: 0px;
        top: 0;
        content: '';
    }
    .menu-icon:after {
        width: 100%;
        height: 2px;
        background-color: #00939A;
        position: absolute;
        left: 0px;
        bottom: 0;
        content: '';
    }
    .table-column {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 767px) {
    .table-column-block {
        padding-top: 54px;
    }
    .table-column {
        position: relative;
    }
    .table-column-block-text {
        padding-left: 0;
        position: absolute;
        top: 16px;
        left: 0;
        font-size: 20px;
    }
    .review-block {
        max-width: 280px;
    }
    .sales-grid-block {
        overflow: hidden;
    }
}
@media (max-width: 590px) {
    .prays-info {
        flex-direction: column;
        justify-content: flex-start;
    }
    .prays-text-header {
        text-align: center;
    }
    .prays-text-subheader {
        padding-bottom: 25px;
        text-align: center;
    }
    .slayder-form_input {
        width: 320px;
        margin: 0 auto;
    }
    .slayder-form_label {
        padding-bottom: 16px;
    }
    .slayder-form-button {
        width: 320px;
        margin: 0 auto;
    }
    .form-footer input {
        padding-right: 15px;
    }
    .form-footer textarea {
        padding-right: 15px;
        line-height: 120%;
    }
    .metal-form-text-header {
        font-size: 35px;
        padding-bottom: 20px;
    }
    .metal-form-text-info {
        font-size: 15px;
        padding-bottom: 20px;
    }
    .export-info-block-name {
        gap: 24px;
    }
    .div-mobile.first {
        padding-right: 15px;
    }
    .export-info-text {
        width: 100%;
    }
    .export-info-block-name-img {
        width: 77px;
        height: 77px;
    }
    .metal-form-text-input {
        width: 280px;
        margin: 0 auto;
    }
    .metal-form-text-file {
        margin-top: 15px;
    }
    .metal-form-text-button {
        width: 280px;
        margin: 0 auto;
    }
    .logo-img {
        width: 39px;
        height: 39px;
    }
    .logo-text {
        max-width: 85px;
    }
    .logo-text-name {
        font-size: 12px;
    }
    .logo-text {
        font-size: 9px;
    }
    .slayder-header {
        font-size: 30px;
    }
    .slayder-subheader {
        font-size: 24px;
    }
    .slayder-form_input {
        width: 280px;
    }
    .slayder-form-button {
        width: 280px;
    }
    .slayder-arrow.next {
        right: calc((100% - 280px) / 2);
    }
    .slayder-arrow.prev {
        left: calc((100% - 280px) / 2);
    }
    .price-order-input {
        width: 280px;
    }
    .price-order-button {
        width: 280px;
    }
    .table-column-price {
        gap: unset;
    }
    .table-column-price-volume-text {
        padding-right: 24px;
    }
    .sum-counter {
        /* padding-left: 15px; */
    }
}
.header-menu.active .menu-icon-line {
    display: none;
}
.header-menu.active .menu-icon::before {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    top: 63%;
    background-color: white;
    
}
.header-menu.active .menu-icon::after {
    transform-origin: center;
    transform: translate(-50%, 50%) rotate(-45deg);
    left: 50%;
    top: 50%;
    background-color: white;
}

.header-menu.active .subheader-background {
    transform: translateX(0);
}
.header-menu.active {
    background-color: #00939A;
}
.header-menu.active .logo-text-name,
.header-menu.active .logo-text {
    color: white;
}
.header-menu.active .logo-img path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}
.header-menu.active .svg-img path {
    stroke: #FFFFFF;
}